@import './styles/mixins/theme.scss';
@import './styles/variables/themes.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.light {
  @include theme-map($light);
  @import './styles/Nesting/light/chipInput.scss';
  @import './styles/Nesting/light/button.scss';
  @import './styles/Nesting/light/panel.scss';
  @extend .MuiFormControl-root;
  @extend .panel;
}

body.dark {
  @include theme-map($dark);
  @import './styles/Nesting/dark/chipInput.scss';
  @import './styles/Nesting/dark/button.scss';
  @import './styles/Nesting/dark/panel.scss';
  @extend .MuiFormControl-root;
  @extend .panel;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
